* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

:root {
    --bg-night: #36393B;
    --bg-day: #A5D8FF;
    --btn-border: black;
    --loader-color: #a5d8ff6b;
}

html, body {
    height: 100%;
}

body {
    background: var(--bg-day);
    display: flex;
    flex-direction: column;
}

/* Loader */
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.loader {
    width: 20vw;
    height: 20vw; 

    border: 10px solid lightgray;
    border-radius: 50%;
    border-top: 10px solid var(--loader-color);
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Title and Nav */

/* #nav-burger-icon {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 5%;
    width: 2em;
    justify-content: space-around;
    margin: 5%;
}

.nav-patty {
    height: 15%;
    width: 100%;
    background-color: black;
    border-radius: 20px;
} */

/* Containers */

.search-bar-container, .weather-display-container, .forecast-container {
    height: 100%;
}

.weather-display-container, .forecast-container {
    width: auto;
    margin: 2%;
    background-color: rgb(238, 236, 236);
    border-radius: 50px;
    animation: 1.5s fadeIn ease-in-out;
}

.weather-display-container {
    width: 40vh;
    margin: auto;
}

.move-up {
    animation: 1s searchBarFadeUp ease-in-out;
}

@keyframes searchBarFadeUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes fadeIn {
    0% {
        transform: translateY(-20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Search */

.search-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar {
    font-size: 1.5rem;
    text-align: center;
    width: 50%;
    background: none;
    border: none;
    border-bottom: 3px solid grey;
    transition: border-color 0.2s linear;
    margin: 2% 0;
}
.search-bar:focus {
    outline: none;
}
.search-bar:valid {
    border-color: black;
}

.search-msg {
    color: red;
    font-size: 0.8em;
}

.search-button {
    margin-top: 2%;
    padding: 1em;
    background: none;
    border-radius: 10px;
    border: 2px solid var(--btn-border);
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--btn-border);
    cursor: pointer;
    transition: background-color 0.2s linear, color 0.2s linear, border 0.2s linear;
}

.search-button:hover {
    color: white;
    background-color: black;
}

/* Current Weather Details */

.weather-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.weather-description {
    text-transform: capitalize;
}

/* Forecast details */

.forecast-container {
    display: flex;
    flex-direction: column;
    padding: 2%;
    align-items: center;
}

.forecast {
    display: flex;
    height: calc(100%/7);
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.forecast-day {
    display: flex;
    justify-content: center;
    width: 100%;
}

.forecast-temps {
    display: flex;
    justify-content: center;
    width: 100%;
}

.forecast-icon {
    width: 100%;
}

/* Hidden */

.hidden {
    display: none;
}

@media (min-width: 1100px) {
    .forecast-container {
        flex-direction: row;
    }

    .forecast {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search-bar {
        width: 20%;
    }
}
